[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

flask = "*"
flask-wtf = "*"
wtforms = "*"
flask-login = "*"
gunicorn = "*"
twilio = "*"
flask-sslify = "*"
flask-mail = "*"
pymysql = "*"
sqlalchemy = "*"
flask-sqlalchemy = "*"
mysql-connector-python = "*"


[dev-packages]



[requires]

python_version = "3.6"
