{% extends "base.html" %}

{% block title %}Success{% endblock title %}

{% block body %}
<div class="container" style="padding-top: 75px; margin-bottom: 35%;">

<h3 class="alert alert-success">Success</h3>
</div>
<div class="container mb-4">
        <h6>Other Contact Info:</h6>
        <p>
            Email: <a href="mailto:reed@reedtechsupport.info">reed@reedtechsupport.info</a><br>
            Google Maps: <a href="https://www.google.com/maps/place/Reed's+Tech+Support/@37.9081839,-122.5426594,14z/data=!4m5!3m4!1s0x0:0x706931de4b3ed74c!8m2!3d37.9081839!4d-122.5426594">Reed's Tech Support</a></p>
        </p>
</div>
{% endblock body %}
